
<div class="form-style-5" style="margin-bottom: 0px !important;padding-top: 15px;height: 50px;">
  <p style="text-align:center">
    Feito para fins de estudo por <%= mostrar_meu_nome %> / <%= "página de #{pg}"%>
  </p>
</div>