<div class="form-style-5">
  <h1>Seja bem-vinda <%= mostrar_meu_nome %></h1>
  <p>Data: <%= l Date.today%></p>
  <!-- rails/info/routes -->

  <br>
  <ul>
    <li>
      <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> &nbsp;
      <%= link_to "Tipos", tipos_path %>
    </li>
    <li>
      <span class="glyphicon glyphicon-list" aria-hidden="true"></span> &nbsp;
      <%= link_to "Contatos" , contatos_path %>
    </li>
  </ul>
</div>